*
{
	box-sizing: border-box;

}
body
{
	font-family: 'Lato', sans-serif;
	background : #E8E8E8;
}

/* general classes*/

.row
{
	width: 100%;
	display : flex;
	flex-wrap : wrap;
	padding: 0.5em;
}

.box
{
	width: 100%;
	padding: 0.5em;
}

.center-block
{
	margin : 0 auto;
}

.forced-center-block
{
	display : block;
	margin : 0 auto;
}

.text-center
{
	text-align : center;
}

.error
{
	color: #cc0000;
}

/* responsive only-clases*/

.text-center-only-small
{
	text-align : center;
}

.text-center-only-small-medium
{
	text-align: center;
}

/* inputs */
.login-input
{
	width: 80%;

}

/* labels*/

.login-label
{
	width: 20%;

}

/* fuentes*/
.fuente-lato
{
	font-family: 'Lato', sans-serif;
}

.fuente-pacifico
{
	font-family: 'Pacifico', cursive;
}

/*fondos*/



/*blocks*/

.header
{
	width : 100%;
}
.nav-links-container
{
	text-align: center;
}
.nav-links-box
{
	padding: 0.5em;
}

.nav-links
{
	text-decoration: none;
}

.form-container
{
	width: 50%;
	margin-left : auto;
	margin-right : auto;
}



/*responsive styles*/

/* for tablets */
@media only screen and (min-width: 600px)
{
	.text-center-only-small
	{
		text-align : initial;
	}
	.half-width-medium
	{
		width : 50%;
	}
	.login-container
	{
		width: 50%;
	}


}

/* For desktop: */
@media only screen and (min-width: 960px) 
{
	.container
	{
		max-width : 960px;
		margin : 0 auto;
	}
	.nav-links-container
	{
		width: 80%;
		padding: 2em;
	}
	.nav-links-box
	{
		width: 25%;
	}

	.title
	{
		width : 20%;
	}

	.text-center-only-small-medium
	{
		text-center : initial;
	}
}



