<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		.text-center
		{
			text-align : center;
		}
		.text-red
		{
			color: red;
		}
	</style>
</head>
<body>
	<h1 class="text-center">Wheather</h1>
	<form method="post">
		<div>
			<label>City</label>
			<input type="text" name="city">
		</div>
		<div>
			<input type="button" name="" value="Aceptar">
		</div>
	</form>

	{% if wheather %}
		<h1>Weather : <span class="text-red">{{ wheather }}</span> </h1>
		<h1>Description : <span class="text-red">{{ description }}</span></h1>
		<h1>Temperature : <span class="text-red">{{ temperature }}</span></h1>
	{% endif %}
</body>
</html>