body
{
	background-color: blue;
}

.row
{
	width: 100%;
	flex-wrap : wrap;
	width: 100%;
	padding: 15px;
}

.box
{
	width: 100%;
	padding: 1em;
}

.blog-post-row
{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.blog-title
{
	width : 100%;
}

.blog-information
{
	width : 100%;
}

.blog-content
{
	width: 100%;
}